@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

body{
    font-family: sans-serif;
    margin: 0px;
}

div{
    margin: 0px;
    padding: 0px;
}

.container{
    flex-direction: row;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left{
    height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    flex: 1;
    color: white;
    position: relative;
}

.odin{
    font-family: norse;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    height: 20vh;
    margin-top: 20vh;
    background: rgb(0 0 0 / 50%);
}

.right{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.top{
    background-color: #e0e0e0;
    font-size: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.bottom{
    flex: 1;
    background-color: #e0e0e0;
}

.middle{
    flex: 1;
    font-size: 16px;
    box-shadow: 0px 10px 10px gray;
    position: relative;
}


.log{
    margin-left: 2.5%;
    margin-top: 2%;
}

.button{
    margin-left: 2.5%;
    margin-top: 2%;
    height: 15%;
}
button{
    background-color: #596D48;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 15%;
    height: 100%;

}

.mt{
    height: 10%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 32px;
}

.mb{
    height: 90%;
    display: flex;
}

.midl{
    margin-left: 2.5%;
}

.midr{
    margin-left: 10%;
}

input{
    margin-bottom: 25%;
    border-color: #e5e7eb;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}

input:invalid{
    border-color: red;
}

input:focus{
    outline-color: blue;
    box-shadow: 2px 2px 5px  lightgray;
}

.t1{
    margin-left: 2.5%;
    margin-right: 43%;
    margin-bottom: 2%;
}

.t2{
    margin-left:2.5%;
    margin-bottom: 2%;
}

input, label{
    display: block;
}

.in{
    color: #596D48;
}

.pic{
    color: white;
}

.credit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}